@page "/"

<div class="bg-purple-400 p-4 my-4 text-white">
    <h1 class="text-3xl my-4">Hello World</h1>
</div>

<p class="text-2xl my-4">
    Now you can use Tailwind's CSS styles in your razor components and Tailwind will automatically regenerate your CSS file :)
</p>

<p class="text-2xl my-4">
    You'll find the resulting CSS file at <strong>wwwroot\css\output.css</strong>
</p>